body {
    background: linear-gradient(135deg, #b3bcc5 0%, #7b84a1 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    #contenido {
        max-width: 460px;
        padding: 20px;
        text-align: center;

        section {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .itinerario-item,
        .opcion-item {
            border: 1px solid #e2e8f0;
            border-radius: 12px;
            padding: 10px;
            margin: 10px 0;
            background: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        }

        .opcion-item img {
            width: 80px;
            height: 80px;
        }
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MonteCarlo";
}

p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.entrada {
    background: url(imagenes/fondo1.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;


    h1 {
        font-size: 80px;
        margin: 0;
        color: #d6bc9d;
        padding: 0;
        line-height: 1;
    }

    span {
        font-size: 80px;
        color: #5a361c;
        font-family: "MonteCarlo";
        line-height: 1;


    }
}

.saludo {
    background: url(imagenes/fondo1.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;

    img {
        max-width: 180px;
        margin: auto;
    }

    h1 {
        font-size: 80px;
        margin: 0;
        color: #5e3b1a;
        padding: 0;
        line-height: 1;
    }

    p {
        font-family: "MonteCarlo", cursive;
        font-size: 45px;
        color: #5e3b1a;
        margin: 0;

    }
}

.presentacion {
    background: url(imagenes/fondo1.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    padding: 15px;

    img {
        max-width: 180px;
        margin: auto;
    }

    h1 {
        font-size: 80px;
        margin: 0;
        color: #5e3b1a;
        padding: 0;
        line-height: 1;
    }

    p {
        font-family: "MonteCarlo", cursive;
        font-size: 40px;
        color: #5e3b1a;
        margin: 0;
        font-weight: 600;
        max-width: 280px;
        margin: auto;
        line-height: 1.1;

    }
}

.presentacion2 {
    background: url(imagenes/presentacion2.jpg);
    min-height: 650px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    padding: 15px;

    img {
        max-width: 180px;
        margin: auto;
    }

    h1 {
        font-size: 80px;
        margin: 0;
        color: #5e3b1a;
        padding: 0;
        line-height: 1;
    }

    p {
        font-family: "MonteCarlo", cursive;
        font-size: 40px;
        color: #5e3b1a;
        margin: 0;
        font-weight: 600;
        max-width: 280px;
        margin: auto;
        line-height: 1.1;

    }
}

.presentacion3 {
    background: url(imagenes/presentacion2.jpg);
    min-height: 650px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    padding: 15px;

    p {
        font-family: "MonteCarlo", cursive;
        font-size: 28px;
        color: #5e3b1a;
        margin: 0;
        font-weight: 600;
        max-width: 280px;
        margin: auto;
        line-height: 1.1;

    }

    h4 {
        font-size: 40px;
        color: #5e3b1a;
        margin: 10px 0;
        line-height: 1;
    }

    img {
        max-width: 300px;
        margin: auto;
        border-radius: 50%;
    }
}

.padres {
    background: url(imagenes/papitos.jpg);
    min-height: 650px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    padding: 15px;

    p {
        font-family: "MonteCarlo", cursive;
        font-size: 28px;
        color: #5e3b1a;
        margin: 0;
        font-weight: 600;
        max-width: 280px;
        margin: auto;
        line-height: 1.1;

    }

    h3 {
        font-size: 40px;
        color: #5e3b1a;
        margin: 10px 0;
        line-height: 1;
    }

    img {
        max-width: 200px;
        margin: auto;
        margin-top: 20px;
    }
}

.agradecimiento,
.evento,
.itinerario,
.genero {
    background: url(imagenes/fondo1.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    padding: 15px;

    img {
        max-width: 180px;
        margin: auto;
    }

    p {
        font-family: "MonteCarlo", cursive;
        font-size: 40px;
        color: #5e3b1a;
        margin: 0;
        font-weight: 600;
        max-width: 280px;
        margin: auto;
        line-height: 1.1;

    }
}